<!-- Menu -->
<app-navbar></app-navbar>
<!-- endmenu -->


<!-- form   -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="cont">
                <div class="box"></div>
                <div class="container-forms">
                  <div class="container-info">
                    <div class="info-item">
                      <div class="table">
                        <div class="table-cell">
                          <p>
                            Possui uma conta? 
                          </p>
                          <div (click)="toLoggin()" class="btn">
                            Entrar
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="info-item">
                      <div class="table">
                        <div class="table-cell">
                          <p>
                            Não possui uma conta? 
                          </p>

                          <div (click)="toRegister()" class="btn">
                            Criar
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-form">
                    <div class="form-item log-in">
                      <div class="table">
                        <div class="table-cell">
                              <input required [(ngModel)]="login.email" name="Username" placeholder="Email" type="email" />
                              <input required [(ngModel)]="login.senha" name="Password" placeholder="Senha" type="Password" />
                              <div class="row">
                                <div class="col-md-12 text-center">
                                  <button (click)="loginAccount()" class="btn">
                                    Entrar
                                  </button>
                                </div>
                              </div>
                          
                          
                        </div>
                      </div>
                    </div>
                    <div class="form-item sign-up">
                      <div class="table">
                        <div class="table-cell">
                          <input required [(ngModel)]="register.nameEnterprise" name="Username" placeholder="Nome da Empresa" type="text" />
                          <input required [(ngModel)]="register.email" name="Username" placeholder="Email" type="email" />
                          <input required [(ngModel)]="register.senha" name="Password" placeholder="Senha" type="Password" />
                          <input required [(ngModel)]="register.senhaR" name="Password" placeholder="Repita a Senha" type="Password" />
                          
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <div (click)="registerAccount()" class="btn">
                                Criar
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </div>
</div>
<!-- endform  -->

<simple-notifications [options]="options"></simple-notifications>

