<!-- Modal Cadastro -->
<div class="modal fade bs-example-modal-sm" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cadastre-se </h4>
      </div>

      <div class="modal-body">

        <form #f2="ngForm" (ngSubmit)="onSubmitCadastro(f2)"  [class.has-error]="!nomeempresa.valid && nomeempresa.touched" [class.has-feedback]="!nomeempresa.valid && nomeempresa.touched">
          <div class="form-group">
            <label for="InputNome">Nome Da Empresa</label>
            <input id="nomeEmpresa" type="nomeempresa" class="form-control" name="InputNome" placeholder="Nome Da Empresa" ngModel required
              #nomeempresa="ngModel">
            <div *ngIf="!nomeempresa.valid && nomeempresa.touched" class="alert alert-danger" role="alert">
              Nome Inválido
            </div>
          </div>
          <div class="form-group" [class.has-error]="!cnpj.valid && cnpj.touched" [class.has-feedback]="!cnpj.valid && cnpj.touched">
            <label for="InputCnpj">CNPJ</label>
            <input id="cnpjEmpresa" type="cnpj" class="form-control" name="InputCnpj" placeholder="CNPJ" ngModel required #cnpj="ngModel"
              pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})">
            <div *ngIf="!cnpj.valid && cnpj.touched" class="alert alert-danger" role="alert">
              CNPJ Inválido
            </div>
          </div>
          <div class="form-group" [class.has-error]="!email.valid && email.touched" [class.has-feedback]="!email.valid && email.touched">

            <label for="InputEmail">Email </label>
            <input id="emailEmpresa" type="email" class="form-control" name="ImputEmail" placeholder="Email" ngModel required email #email="ngModel"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
              Email Inválido
            </div>
          </div>
          <div class="form-group" [class.has-error]="!senha.valid && senha.touched" [class.has-feedback]="!senha.valid && senha.touched">
            <label for="InputSenha">Senha</label>
            <input id="senhaEmpresa" type="password" class="form-control" name="InputSenha" placeholder="Senha" ngModel required #senha="ngModel">
            <div *ngIf="!senha.valid && senha.touched" class="alert alert-danger" role="alert">
              Senha Inválida
            </div>
          </div>
          <div class="form-group" [class.has-error]="!senha2.valid && senha2.touched" [class.has-feedback]="!senha2.valid && senha2.touched">
            <label for="InputConfirmaSenha">Confirmar Senha</label>
            <input type="password" class="form-control" name="InputConfirmaSenha" placeholder="Confirmar Senha" ngModel required #senha2="ngModel">

            <div *ngIf="!senha2.valid && senha2.touched" class="alert alert-danger" role="alert">
              Senha Inválida
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary btn_cadastro" [disabled]="!f2.valid">Cadastrar </button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
<!-- endmodal  -->
