<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel" style="overflow-x:hidden">

    <div class="main-content">
      <app-navbar-dash></app-navbar-dash>

      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header" data-background-color="red">
                    <h4 class="title">Edit Profile</h4>
                    <p class="category">Complete your profile</p>
                  </div>
                  <div class="card-content">
                    <form> 
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-black label-floating is-empty">
                            <input type="text" placeholder="Adress" class="form-control">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                      <div class="clearfix"></div>
                    </form>


                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
