<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel" style="overflow-x:hidden">
    <div class="main-content">

      <app-navbar-dash></app-navbar-dash>

      <div class="container-fluid">
        <div class="row">

          <div *ngIf="showNumberRequets()" class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="orange">
                <i class="material-icons">insert_drive_file</i>
              </div>
              <div class="card-content">
                <p class="category">Bases enviadas</p>
                <h3 class="title"> {{user.number_requests}} </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="showNumberResults()" class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="orange">
                <i class="material-icons">done_all</i>
              </div>
              <div class="card-content">
                <p class="category">Resultados</p>
                <h3 class="title"> {{user.number_results}} </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="showProcessing()" class="col-md-9">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h2> Sua base está sendo processada...</h2>
              </div>
              <!-- <div class="card-content">
                <h4 class="title">Daily Sales</h4>
                <p class="category">
                  <span class="text-success">
                    <i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
              </div> -->
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> Um email será enviado quando o processo terminar
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="showSend()" class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="blue">
                <h2> Envie sua base de Leads para análise</h2>
              </div>
              <div class="card-content">
                <h4>
                  <p class="category" style="cursor: pointer; text-transform: none; text-decoration: none;">
                    <a routerLink="/enviar" class="text-success">
                      <i class="material-icons">backup</i> Enviar base
                    </a>
                  </p>
                </h4>
              </div>
              <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
              </div> -->
            </div>
          </div>

        </div>

        <div *ngIf="showNumberResults()" class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="orange">
                <h4 class="title">SuperLeads</h4>
                <p class="category">Conheça quais são os seus leads que tem um grande potencial para se tornarem futuros clientes.</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <tr>
                      <th>Email</th>
                      <th>Nome</th>
                      
                      <th style="text-align: right">Chance de ser um cliente</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr *ngFor="let item of leads">
                      <td>{{item.email}}</td>
                      <td>{{item.name}}</td>
                      
                      <td style="text-align: right">{{item.result * 100 | number : '1.2-2' }}%</td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
