<app-sidebar></app-sidebar>
<div class="content">

  <section>
      <div class="container" >          
        <div class="row">
          <div class="col-md-12">
              <h1>BASE DE DADOS</h1>
              <h4>Anexar base de dados</h4>
              <form action="/upload" method="POST" enctype="multipart/form-data">
                <br><label for="inputFile">Base de dados:</label>
                  <input #inputFile class="btn" type="file" name="inputFile"/>
                  <br><br>
                  <input class="btn btn-primary" (click)="upload()" type="submit" value="Enviar arquivo" name="inputFile" />
                  <!--<button type="button" (click)="upload()">Upload</button>  -->                        
              </form>   
          </div>
        </div>          
      </div>
   </section>
</div>