<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>PÁGINAS</h4>
      </div>
      <div class="col-md-3">
        <h4>Contato</h4>
        <p>Depoimentos</p>
        <p>Clientes</p>
        <p>Parceiros</p>
      </div>
      <div class="col-md-4">
        <h4>Dados de Contato</h4>
        <p>contato@mylead.com</p>
        <p>81 98745506</p>
        <p>De Seg. à Sex. das 8h às 18h</p>
      </div>
      <div class="col-md-2">
        <ul>
          <h4>REDES SOCIAIS</h4>
          <a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="https://www.facebook.com/" target="_blank" style="max-width: 140px">Facebook</a>
          <a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="https://twitter.com/" target="_blank" style="max-width: 140px">Twitter</a>
          <a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="https://www.instagram.com/" target="_blank" style="max-width: 140px">Instagram</a>
        </ul>
      </div>
    </div>
  </div>


  <div class="bg-primary text-center py-3">
    <h5>MyLead © 2017. Todos os direitos reservados</h5>
  </div>
</footer>
<!-- endfooter  -->
