
<app-sidebar></app-sidebar>

<section id="content" class="container">
    <article class="item">
        <div class="header">
            <p>Número de Clientes</p>
        </div>
    </article>
    <article class="item">
            <div class="header">
                    <p>Número de Leads</p>
                </div>
    </article>
    <article class="item">
            <div class="header">
                    <p>Número de Algo</p>
                </div>
    </article>
 

</section>
<!-- INICIO FORMULARIO BOTAO PAGSEGURO 
 INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO 
<section class="form">
    <form  action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
      <input type="hidden" name="code" value="0B61D0E41D1D9ED5543A8F905042CC83" />
      <input type="hidden" name="iot" value="button" />
      <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/assinaturas/209x48-assinar-azul-assina.gif" name="submit" alt="Pague com PagSeguro - É rápido, grátis e seguro!" width="209" height="48" />
    </form>
     FINAL FORMULARIO BOTAO PAGSEGURO 
</section>-->
<app-grafico1></app-grafico1> 
<app-grafico2></app-grafico2>

